*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    position: relative;
    min-height: 100vh;
}


.row{
    max-width: 1120px;
    margin: auto;
}

a{
    text-decoration: none;
}

/****************/
/****************/
/* Header Style */
/****************/
/****************/


header{
    background-color: #0D0D0D;
    padding: 20px;
}

header .row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

header a{
    color: white;
    margin-left: 20px;
}

.homepage .home-link{
    display: none;
}

/****************/
/****************/
/* Footer Style */
/****************/
/****************/

footer{
    padding: 10px;
    background-color: #0D0D0D;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .row,
footer .row .social-links{
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;    
}

footer p, footer a{
    color: white;
}

footer i{
    font-size: 25px;
    margin: 5px 10px;
}


/***********/
.mesaj-red{
    color: red;
}

.hide-form{
    display: none!important;
}

.hide-row{
    display: none!important;
}

.hide-results{
    display: none;
}

/*************/
/*************/
/*************/
/*************/
/*************/

.admin-edit,
.start-quiz-row{
    margin-top: 20px;
}

.admin-edit a,
.start-quiz-row a{
    text-decoration: underline;
    color: black;
    line-height: 20px;
    text-transform: uppercase;
}

.c-user{
    padding: 50px 0;
}

@media only screen and (max-width: 1130px){
    .row{
        padding: 0 20px;
    }
}
/*************/
/*************/
/*************/
/*************/
/*************/
/*************/

.logo h1{
    font-family: 'Shadows Into Light', cursive;
    color: white;
    user-select: none;
}

.menu{
    display: flex;
    align-items: center;
}