*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    position: relative;
    min-height: 100vh;
}


.row{
    max-width: 1120px;
    margin: auto;
}

a{
    text-decoration: none;
}

/****************/
/****************/
/* Header Style */
/****************/
/****************/


header{
    background-color: #0D0D0D;
    padding: 20px;
}

header .row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

header a{
    color: white;
    margin-left: 20px;
}

.homepage .home-link{
    display: none;
}

/****************/
/****************/
/* Footer Style */
/****************/
/****************/

footer{
    padding: 10px;
    background-color: #0D0D0D;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .row,
footer .row .social-links{
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;    
}

footer p, footer a{
    color: white;
}

footer i{
    font-size: 25px;
    margin: 5px 10px;
}


/***********/
.mesaj-red{
    color: red;
}

.hide-form{
    display: none!important;
}

.hide-row{
    display: none!important;
}

.hide-results{
    display: none;
}

/*************/
/*************/
/*************/
/*************/
/*************/

.admin-edit,
.start-quiz-row{
    margin-top: 20px;
}

.admin-edit a,
.start-quiz-row a{
    text-decoration: underline;
    color: black;
    line-height: 20px;
    text-transform: uppercase;
}

.c-user{
    padding: 50px 0;
}

@media only screen and (max-width: 1130px){
    .row{
        padding: 0 20px;
    }
}
/*************/
/*************/
/*************/
/*************/
/*************/
/*************/

#addquestion{
    margin-top: 50px;
    margin-bottom: 50px;
}

textarea{
    resize: none;
}

.left-form,
.right-form{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#addquestion form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 40px;
}

#addquestion form .c-response, 
#addquestion form .c-enunt,
#addquestion form .c-categ{
    width: 100%;
}


#addquestion form input, 
#addquestion form textarea{
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
    padding: 5px;
}
.c-submit{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-submit input{
    max-width: 200px;
    border: none;
    background: black;
    color: white;
    padding: 10px 20px;
}

@media only screen and (max-width: 768px){
    .left-form, .right-form{
        width: 100%;
    }

    .left-form input, 
    .right-form input{
        margin-bottom: 10px;
    }
}