.c-questions .c-single-question{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s ease-out;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.c-questions .categorie{
    width: 10%;
    text-transform: capitalize;

}

.c-questions .enunt{
    width: 30%;
}

.c-questions .raspuns{
    width: 10%;
}

.c-questions .deletebtn{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-questions .deletebtn .btn-delete{
    background: red;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    border-radius: 10px;
    user-select: none;
}

.c-questions .deletebtn .btn-delete:hover{
    background: white;
    color: red;
    cursor: pointer;
}

.hide-question{
    max-height: 0px!important;
    overflow: hidden;
}

@media only screen and (max-width: 768px){
    .c-single-question .categorie{
        width: 30%;
        margin-bottom: 10px;
    }

    .c-single-question .enunt{
        width: 70%;
        margin-bottom: 10px;
    }

    .c-single-question .raspuns{
        width: 50%;
    }

    .c-single-question{
        flex-wrap: wrap;
    }

    .c-single-question .deletebtn{
        margin: 10px 0;
        width: 50%;
    }
}


#addquestion{
    margin-top: 50px;
    margin-bottom: 50px;
}

textarea{
    resize: none;
}

.left-form,
.right-form{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#addquestion form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 40px;
}

#addquestion form .c-response, 
#addquestion form .c-enunt,
#addquestion form .c-categ{
    width: 100%;
}


#addquestion form input, 
#addquestion form textarea{
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}
.c-submit{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-submit input{
    max-width: 200px;
    border: none;
    background: black;
    color: white;
    padding: 10px 20px;
}

@media only screen and (max-width: 768px){
    .left-form, .right-form{
        width: 100%;
    }

    .left-form input, 
    .right-form input{
        margin-bottom: 10px;
    }
}