.leadboard-title{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.leadboard-title h2{
    text-transform: uppercase;
}

.leadboard-row .c-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid black;
}

.leadboard-row .c-user .uname, 
.leadboard-row .c-user .score{
    width: 50%;
}

